.header {
  margin-bottom: 10px;
  background-color: white;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.logo {
  text-decoration: none;
  font-size: 32px;
  letter-spacing: 5px;
  font-family: anomaly;
}
.nav_panel {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}
.nav_link {
  text-decoration: none;
  color: var(--darkest);
  transition: ease-in-out scale 0.05s;
}
.nav_link:hover {
  scale: 0.95;
}
